@import url("http://fonts.googleapis.com/css?family=Merriweather:300,400");
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");

@font-face {
  font-family:'Futura Today Bold';
  src:url(resources/futura_today_bold.eot);
  src:url(resources/futura_today_bold.eot?#iefix) format('embedded-opentype'),
  url(resources/futura_today_bold.woff) format('woff'),
  url(resources/futura_today_bold.ttf) format('truetype'),
  url(resources/futura_bold-webfont.svg#FuturaBold) format('svg');
  font-style:normal;
}

html {
  height: 100%;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

.clearfix {
  @include clearfix();
  *zoom: 1;
}

body {
  background: $color-grey-light url(img/noise_f6f6f6.png) repeat top left;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 16px;
  color: $color-grey-dark;
}

a {
  color: $color-red;
  &:hover {
    color: $color-green;
    text-decoration: underline;
  }
  &.nav-link {
    color: $color-red;
    text-decoration: none;
    &:hover {
      color: $color-red;
      text-emphasis: none;
    }
  }
  &.button {
    display: inline-block;
    position: relative;
    min-width: 54px;
    margin-right: 16px;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    background-color: #F5F5F5;
    color: $color-grey-dark;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    outline: 0;
    text-align: center;
    white-space: nowrap;
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.3);
      @include box-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
    }
    &:active {
      position: relative;
      top: 1px;
      left: 1px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
    }
  }
}

h2 {
  font-size: 1em;
  line-height: 1.4em;
}

.container {
  width: 100%;
  position: relative;
  > header {
    position: relative;
    margin: 0 auto 40px;
    padding: 60px 30px 50px;
    text-align: center;
    h1 {
      font-family: 'Noto Sans', sans-serif;
      font-size: 70px;
      line-height: 38px;
      letter-spacing: 10px;
      text-transform: uppercase;
      margin: 0 auto;
      font-weight: 700;
      color: $color-white;
      text-shadow:
          0 -1px 0 #C9CECE,
          0 1px 0 #BCC2C1,
          0 2px 0 #AEB6B5,
          0 3px 0 #A3ACAB,
          0 4px 0 #9EA7A6,
          0 5px 0 #99A2A1,
          0 6px 0 #96A09F,
          0 7px 0 #939E9D,
          0 0 4px rgba(0, 0, 0, 0.05),
          0 0 1px rgba(0, 0, 0, 0.2),
          0 1px 3px rgba(0, 0, 0, 0.2),
          0 2px 5px rgba(0, 0, 0, 0.2),
          0 10px 10px rgba(0, 0, 0, 0.2),
          0 10px 10px rgba(0, 0, 0, 0.3);
      span {
        display: block;
        position: relative;
        top: 40px;
        color: $color-grey-dark;
        font-family: 'Merriweather', serif;
        font-size: 20px;
        font-weight: 400;
        text-shadow: none;
        letter-spacing: 2px;
      }
    }
  }
}

p {
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin-bottom: 2em;
}

ul, ol {
  margin: 10px 0 40px;
  padding-left: 40px;
  li {
    margin: 10px 0;
  }
  &.slats {
    padding-left: 0;
    li {
      margin: 0 0 10px 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid $color-grey-medium;
      list-style-type: none;
      &:not(:first-child) {
        padding-top: 20px;
      }
      &:last-child {
        margin: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
      h2 {
        margin-bottom: 0.6em;
      }
      h3 {
        font-size: $font-size-base;
        line-height: $line-height-base;
        font-weight: bold;
        &.pagination {
          display: inline;
          margin: 0 20px;
        }
      }
      p {
        font-size: $font-size-base;
        line-height: $line-height-base;
      }
      &.pagination-row {
        margin-top: 40px;
        text-align: center;
      }
    }
  }
}

.headshot {
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px 20px 5px 0;
  @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));

  &.small {
    @extend .headshot;
    width: 100px;
    height: 100px;
  }
}