.ca-menu {
  padding: 0;
  margin: 8px auto;
  width: auto;
  li {
    width: auto;
    height: 50px;
    width: 300px;
    overflow: hidden;
    display: block;
    background: url("./img/icon-arrow-right.png") no-repeat 97% center #fff;
    -webkit-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 8px;
    padding: 0;
    border-left: 10px solid #fff;
    -webkit-transition: $transition-quick;
    -moz-transition: $transition-quick;
    -o-transition: $transition-quick;
    -ms-transition: $transition-quick;
    transition: $transition-quick;
    &:last-child {
      margin-bottom: 0px;
    }
    a {
      text-align: left;
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      text-decoration: none;
    }
  }
}

.ca-content {
  position: relative;
  padding: 2px 0 0 15px;
  width: auto;
  height: 60px;
}

.ca-main {
  font-size: 22px;
  -webkit-transition: $transition-quick;
  -moz-transition: $transition-quick;
  -o-transition: $transition-quick;
  -ms-transition: $transition-quick;
  transition: $transition-quick;
}

.ca-sub {
  font-size: 14px;
  color: $color-grey-dark;
  -webkit-transition: $transition-quick;
  -moz-transition: $transition-quick;
  -ms-transition: $transition-quick;
  -o-transition: $transition-quick;
  transition: $transition-quick;
}

.ca-menu li:hover, .ca-menu .active {
  border-color: $color-blue-dark;
  background: url("./img/icon-arrow-right.png") no-repeat 97% center $color-blue-light;
  .ca-main {
    color: $color-blue-dark;
    font-size: 14px;
  }
  .ca-sub {
    color: $color-blue-dark;
    font-size: 22px;
  }
}