.ca-menu {
  font-family: 'Noto Sans', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 300px;
  li {
    @include gradient-vertical($startColor: rgba(69,72,77,1), $endColor: rgba(68,68,68,1));
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.2);
    color: $color-white;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 3;
    padding-left: 1em;
    margin: 0 0 5px;
    position: relative;
    cursor: default;
    text-shadow: 1px 1px 4px rgba(black, 0.3),-1px -1px 4px rgba(white, 0.1);
    @include transition(0.4s border ease-in-out);
    width: 100%;

    &:before {
      color: $color-white;
      font-family: 'FontAwesome', sans-serif;
      font-size: 1.8em;
      line-height: 1.6;
      position: absolute;
      left: -1.3em;
      top: 0;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    a, a:hover {
      color: $color-white;
      text-decoration: none;
      cursor: pointer;
    }

    &:first-child {
      border-left: 6px solid $color-blue-light;
      &:before {
        content: '\f05a';
        font-size: 2.1em;
        left: -1.1em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 3em solid $color-blue-light;
      }
    }

    &:nth-child(2) {
      border-left: 6px solid $color-red;
      &:before {
        content: '1';
        font-size: 2.1em;
        left: -1em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 3em solid $color-red;
      }
    }

    &:nth-child(3) {
      border-left: 6px solid $color-green;
      &:before {
        content: '2';
        font-size: 2.1em;
        left: -1em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 3em solid $color-green;
      }
    }

    &:nth-child(4) {
      border-left: 6px solid $color-purple;
      &:before {
        content: '3';
        font-size: 2.1em;
        left: -1em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 3em solid $color-purple;
      }
    }

    &:nth-child(5) {
      border-left: 6px solid $color-orange;
      &:before {
        content: '4';
        font-size: 2.1em;
        left: -1em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 3em solid $color-orange;
      }
    }

    &:nth-child(6) {
      border-left: 6px solid $color-yellow;
      &:before {
        content: '5';
        font-size: 2.1em;
        left: -1em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 50px solid $color-yellow;
      }
    }

    &:nth-child(7) {
      border-left: 6px solid $color-blue-light;
      &:before {
        content: '6';
        font-size: 2.1em;
        left: -1em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 50px solid $color-blue-light;
      }
    }

    &:nth-child(8) {
      border-left: 6px solid $color-red;
      &:before {
        content: '7';
        font-size: 2.1em;
        left: -1em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 50px solid $color-red;
      }
    }

    &:nth-child(9) {
      border-left: 6px solid $color-green;
      &:before {
        content: '8';
        font-size: 2.1em;
        left: -1em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 50px solid $color-green;
      }
    }

    &:nth-child(10) {
      border-left: 6px solid $color-purple;
      &:before {
        content: '\f02d';
        font-size: 2.1em;
        left: -1.2em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 3em solid $color-purple;
      }
    }

    &:nth-child(11) {
      border-left: 6px solid $color-orange;
      &:before {
        content: '\f003';
        font-size: 2.1em;
        left: -1.2em;
        line-height: 1.5;
      }
      &:hover, &.active {
        border-left: 3em solid $color-orange;
      }
    }
  }
}