.wrap {
  position: relative;
  @include transition(0.4s border ease-in-out);
}
.wrap.active {
  left: 16em;
}
a.menu-link {
  float: left;
  display: block;
  padding: 1em;
}
.oc {
  clear: both;
  overflow: hidden;
}
.js .oc {
  width: 16em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -16em;
}

.lorem {
  clear: both;
}

@media screen and (min-width: 48.25em) {
  a.menu-link {
    display: none;
  }
  .js .oc {
    position: static;
    float: left;
    width: 30%;
    height: 100%;

  }
  .wrap.active {
    left: 0;
  }
  .lorem {
    clear: none;
    margin-left: 32%;
    padding: 0 8% 0 0;
  }
}