$color-white: rgba(255, 255, 255, 0.9);
$color-grey-light: #f6f6f6;
$color-grey-medium: #b7b7b7;
$color-grey-dark: #1a1a1a;
$color-green: #00a53c;
$color-red: #cc0000;
$color-blue-light: #009bff;
$color-purple: #9600b4;
$color-orange: #fa5f00;
$color-yellow: #ffc000;

$font-size-base: 1em;
$line-height-base: 1.6em;

