$color-grey-light: #DDD;
$color-grey-dark: #333;
$color-blue-light: #9FBFDF;
$color-blue-dark: #003E7E;
$color-green: #599800;

$transition-quick: all 100ms linear;

$font-size-base: 1em;
$line-height-base: 1.6em;

