$color-grey-light: #f0f0f0;
$color-grey-medium: #b7b7b7;
$color-grey-dark: #1a1a1a;
$color-green: #607625;
$color-red: #b32f24;

$transition-quick: all 100ms linear;

$font-size-base: 1em;
$line-height-base: 1.6em;

